.crud-rentas-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .crud-rentas-form {
    margin-bottom: 20px;
  }
  
  .crud-rentas-form input {
    width: calc(50% - 22px); /* Ajusta el ancho para tener en cuenta el padding */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .crud-rentas-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .crud-rentas-form button:hover {
    background-color: #0056b3;
  }
  
  .crud-rentas-list {
    list-style: none;
  }
  
  .crud-rentas-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .crud-rentas-item button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .crud-rentas-item button:hover {
    background-color: #c82333;
  }