<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>
<body>
    <h1>Bienvenido a la Aplicación de Administración</h1>
    
    <h2>Seleccione una opción:</h2>
    <ul>
        <li><a href="/gestion_usuario">Gestión de Usuarios</a></li>
        <li><a href="/gestion_peliculas">Gestión de Películas</a></li>
        <li><a href="/gestion_renta">Gestión de Rentas</a></li>
    </ul>
</body>
</html>